@using System.Xml.Linq
@model Turgunda2.Models.PortraitModel
@{
    if (Model == null || Model.xresult == null) { return; }
}

<div>@Model.typelabel</div>
@if (Model.uri == null)
{
<!--h2 style="color: #5c87b2;">@Model.name</h2-->
}
else
{
    string url = Url.Content("~/Docs/GetPhoto?s=medium&u=" + Model.uri);
    <img src="@url" />
}

<table>
    <tr>
        @foreach (XElement c in @Model.xresult.Element("r").Elements("c"))
        {
            <td class="d">@c.Value</td>
        }
    </tr>
</table>

<pre>@Model.xresult.ToString()</pre>

@if (Model.look != null)
{
<pre>@Model.look.ToString()</pre>
}
@if (Model.message != null)
{
<div>@Model.message</div>
}