@using System.Xml.Linq
@model Turgunda2.Models.PortraitModel
@{
    if (Model == null || Model.xresult == null) { return; }
    bool edit = User.IsInRole("user");
    string id = Model.id;
}

@helper HTable(XElement container, string id, string iprop, string ttype, bool edit)
    {
        XElement[] headerelements = container.Element("header").Elements().ToArray();
<table>
    <tr>
    @foreach (XElement f in headerelements)
    {
        <th>
        @if (f.Name == "f")
        { @f.Value }
        else
        { @f.Element("label").Value } 
        </th>
    }
    @if (edit)
    {
        <td></td>
    }
    </tr>
    @foreach (XElement r in container.Elements("r"))
    {
        string eid = r.Attribute("id").Value;
        <tr id='@eid'>
        @HRow(r, eid, headerelements, id, iprop, ttype, edit)
        </tr>
    }
</table>  
}

@helper HRow(XElement r, string eid, XElement[] headerelements, string id, string iprop, string rtype, bool edit)
{
    XElement[] rowelements = r.Elements().ToArray(); 
    for (int i=0; i<rowelements.Length; i++)
    {
        XElement cr = rowelements[i];
        XElement f = headerelements[i];
        if (cr.Name == "c")
        {
            XAttribute valueTypeAtt = f.Attribute("valueType");
            string value = cr.Value;
            if (valueTypeAtt != null) { value = Turgunda2.Models.Common.GetEnumStateLabel(valueTypeAtt.Value, value); }
        <td class="d">@value</td> 
        }
        else
        {
            XAttribute d_att = cr.Attribute("id");
            string d_id = d_att == null ? "" : d_att.Value;
            XAttribute d_ty = cr.Attribute("type");
            string d_tid = d_ty == null ? "" : d_ty.Value;
            XElement fr = f.Elements("r").FirstOrDefault(rr => rr.Attribute("type").Value == d_tid);
            XElement[] frow = new XElement[0];
            if (fr != null) 
            {
                frow = fr.Elements("f").ToArray();
            }
            var qu = cr.Elements()
                .Select(c => { return new XText(c.Value); }).ToArray();
            bool isfirst = true;
            int j = 0;
        <td>
            @foreach (XElement c in cr.Elements())
            {
                string val = c.Value;
                if (j < frow.Length)
                {
                    var valueTypeAtt = frow[j].Attribute("valueType");
                    if (valueTypeAtt != null) 
                    {
                        val = Turgunda2.Models.Common.GetEnumStateLabel(valueTypeAtt.Value, val);
                    }
                }
                //XAttribute prop_att = c.Attribute("prop"); //prop_att != null && prop_att.Value == sema2012m.ONames.p_name)
                if (!string.IsNullOrEmpty(val) && isfirst) 
                {
                    isfirst = false;
                <a href="?id=@d_id">@val</a>
                }
                else
                {
                <span>@val</span>
                }
                j++;
            }
        </td>
        }
    }
    if (edit)
    {
        <td>@Ajax.ActionLink("edit", "EditForm", new { firsttime=true, bid = id, eid = eid, etype=rtype, iprop=iprop, nc=r.Elements().Count(), d = System.DateTime.Now.Ticks }, new AjaxOptions()
            {
                HttpMethod = "Post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = eid
            })
        </td>
    }
}


<!-- ================= Начало построения ================= -->
<div>@Model.typelabel</div>
@if (Model.uri == null)
{
<!--h2 style="color: #5c87b2;">@Model.name</h2-->
}
else
{
    string url = Url.Content("~/Docs/GetPhoto?s=medium&u=" + Model.uri);
    <img src="@url" />
}

@HTable(Model.xresult, id, null, Model.xresult.Element("r").Attribute("type").Value, edit)

@if (edit)
{
    var query = Model.xresult.Elements("ip");
<div>
  @foreach (XElement ip in query)
  {
      //if (ip.Elements("ir").Any((XElement ir) => ir.Elements("r")))
      string label = ip.Element("label").Value;
      XElement[] irs = ip.Elements("ir").ToArray();
      if (irs.Length == 0) { continue; }
      else if (irs.Length == 1)
      {
          string type_id = irs[0].Attribute("type").Value;
      @Html.ActionLink(label, "AddInvRelation", new { eid = id, prop = ip.Attribute("prop").Value, rtype = type_id })
      }
      else
      {
          bool firsttime = true;
      <span>@label
        (
        @foreach (XElement ir in irs)
        {
            string ir_label = ir.Element("label").Value;
            string type_id = ir.Attribute("type").Value;
            if (!firsttime)
            { <span> </span> }
            else { firsttime = false; }
            @Html.ActionLink(ir_label, "AddInvRelation", new { eid = id, prop = ip.Attribute("prop").Value, rtype = type_id })
        }
        )
      </span>
      }
      <span> </span>
  }
</div>
}
<table>
@foreach (XElement ip in @Model.xresult.Elements("ip"))
{
    if (ip.Element("ir").Elements("r").Count() == 0) { continue; }
    <tr valign="top">
        <td>@ip.Element("label").Value</td>
        <td>
        @foreach (XElement ir in ip.Elements("ir"))
        {
            if (ir.Elements("r").Count() == 0) { continue; }
            XAttribute view_att = ir.Attribute("view");
            <div>@ir.Element("label").Value</div>
            if (view_att != null && view_att.Value == "largeicons")
            {
                foreach (XElement r in ir.Elements("r"))
                {
                    string url = "";
                    string src = "";
                    List<string> parts = new List<string>();
                    foreach (var fr in r.Elements())
                    {
                        if (fr.Name == "c")
                        {
                            parts.Add(fr.Value);
                        }
                        else if (fr.Name == "r")
                        {
                            var rid_att = fr.Attribute("id");
                            var rty_att = fr.Attribute("type");
                            if (rid_att == null || rty_att == null) { continue; }
                            string rid = rid_att.Value;
                            string rty = rty_att.Value;
                            XAttribute uri_att = fr.Attribute("uri");
                            if (uri_att != null)
                            {
                                src = Url.Content("~/Docs/GetPhoto?s=small&u=" + uri_att.Value);
                                url = "?id=" + rid;
                            }
                            parts.AddRange(fr.Elements("c").Select(c => c.Value));
                        }
                    }
                <div class="brick">
                <div>
                <a href="@url">
                    <img src="@src" />
                </a>
                </div>
                @if (parts.Count() > 0)
                {
                <div style="font-size:smaller;">@parts.Aggregate((sum, part) => sum + " | " + part)</div>
                }
                </div>

                    
                }
            }
            else
            {
                @HTable(ir, id, ip.Attribute("prop").Value, ir.Attribute("type").Value, edit)
            }
        }
        </td>
    </tr>
}
</table>

@*
<pre>@Model.xresult.ToString()</pre>
*@

@if (Model.look != null)
{
<pre>@Model.look.ToString()</pre>
}
@if (Model.message != null)
{
<div>@Model.message</div>
}