@model Turgunda2.Models.PortraitModel
@{
    if (Model == null || Model.xresult == null) { return; }
    var maintable = Model.xresult.Element("table");
}

<div>@Model.typelabel</div>
@if (Model.uri == null)
{
<h2 style="color: #5c87b2;">@Model.name</h2>
}
else
{
    string url = Url.Content("~/Docs/GetPhoto?s=medium&u=" + Model.uri);
    <img src="@url" />
}

@if (maintable != null)
{
<div>@Html.Raw(maintable.ToString())</div>
}

<table>
@foreach (var inverse in Model.xresult.Elements("inverse"))
{
    string prop = inverse.Attribute("prop").Value;
    var label = inverse.Element("label");
    if (label != null) { prop = label.Value; }
    <tr valign="top">
        <td>@prop</td>
        <td>
    @foreach (var rec in inverse.Elements("record"))
    {
        var labe = rec.Element("label");
        if (labe != null)
        {
            <div>@labe.Value</div>
        }
        @Html.Raw(rec.Element("table").ToString());
    }
        </td>
    </tr>
}
</table>


@if (Model.look != null)
{
<pre>@Model.look.ToString()</pre>
}
@if (Model.message != null)
{
<div>@Model.message</div>
}